.clients {
  padding-top: 160px;
  padding-bottom: 120px;
  background-color: var(--color-light);

  @include minitablet {
    padding: 40px 0;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 102px;

    @include minidesk {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
      gap: 30px;
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
